/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Header fixo no topo */
.header-voltar {
    position: fixed;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o header fique acima de outros conteúdos */
    padding-left: 0.5vh;
    text-align: left; /* Alinhamento do texto */
    font-size: 2.5vh;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
}




.body-app {
    padding: 8vh 4vw 11vh;
    /* overflow-auto: scroll; Habilita a rolagem se o conteúdo exceder a tela */

    height: 100%;
}